#poster{
    /* float: left; */
    width: 50%;
}

#info{
    /* float: left; */
}

#button{
    /* float: left; */
}

#card{
    display: inline-table;
    width: 40%
}

#moviesNow{
    /* border: 1px solid black;
    height: 75vh;
    width: auto;
    overflow-y: hidden;
    overflow-x: auto;
    padding-bottom: 10px; */
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    grid-gap: 10px;
    background-color: #2196F3;
    padding: 10px;
}

#overview{
    font-size: 15px;
}